body {
	background: rgb(241, 241, 241);
}

.form-horizontal .control-label {
	text-align: left;
}

.main-form {
	padding-top: 50px;
}
@media (min-width: 767px){
	.main-form {
		padding-top: 75px;
	}
}

.well {
	background: #fff;
	margin-top: 20px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.logo {
	margin-bottom: 20px
}