






		



/*
 * Content 'boxes'
 */

.box {
	position: relative;
	background: #ffffff;
	border-top: 2px solid #c1c1c1;
	margin-bottom: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

	.box-header {
		padding: 15px;
		border-bottom: 1px solid #eee;
		color: #121212;
	}

	.box-header h1,
	.box-header h2,
	.box-header h3,
	.box-header h4,
	.box-header h5,
	.box-header h6 {
		margin:0;
	}

	.box-body {
		padding: 15px;	
	}
	
	.box-footer {
		padding: 15px;
		border-top: 1px solid #eee;
	}
	
	.box-footer:after {
		display: block;
		clear:both;
		content: " ";
		visibility: hidden;
	}
	
	.box-header + .box-footer {
		border-top: none;
	}

.box-primary {
	border-top-color: #337ab7;
}

.box-success {
	border-top-color: #00a65a;
}
	
.row.margin {
	margin-bottom: 25px;
	margin-top: 25px;
}



/*
 * Featured Image
 */
.featured-image {
	width: 80%;
}

@media (max-width: 768px){
	
	.featured-image {
		width: 65%;
	}
	
}

/*
 * Questions support
 */
 
.questions-item {
	margin-bottom: 25px;
}
			
.questions-item:after {
	display: block;
	content: ' ';
	clear: both;
	visibility: hidden;
	height: 1px;
}

	.questions-item .meta {
		float: left;
		width: 70px;
		padding-right: 10px;
		border-right: 1px solid #eee;
		font-size: 18px;
		text-align: center;
	}
	
		.questions-item .meta .voting {
			line-height: 1;
			font-size: 45px;
			margin-top: -20px;
		}
		
			.questions-item .meta .voting:first-child {
				margin-bottom: -20px;
				margin-top: 0px;
			}
		
			.questions-item .meta .voting a {
				color: rgb(131, 131, 131);
			}
			
			.questions-item .meta .voting a.user-current-vote {
				color: rgb(35, 82, 124);
			}
		
		.questions-item .meta .votes {
			color: #F47A3A;
		}
		
		.questions-item .meta .views {
			color: #F47A3A;
		}
		
		.questions-item .meta .answer,
		.questions-item .meta .answered {
			font-size: 30px;
			line-height: 1;
		}

		.questions-item .meta .answered {		
			color: #65A5A0;
		}	
					
			.questions-item .meta .answer a,
			.questions-item .meta .answered a {
				color: inherit;
			}
		
		.questions-item .tags {
			color: #888;
			margin-top: 15px;
		}
			
			.questions-item .tags a {
				border-radius: 3px;
				background: #f8f8f8;
				font-size: 14px;
				padding: 5px 10px;
				border: 1px solid #eee;	
			}
			
			.questions-item .tags a:hover {
				background: #f4f4f4;
			}
	
	.questions-item .content {
		padding-left: 90px;
	}
	
		.questions-item .content .user-info {
			font-size: 14px;
		}
		
			.questions-item .content .user-info b {
				color: #7FCDC6;
				font-weight: 600;
			}

/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

/*
 * Panel accordian menu
 */

.panel .fa { margin-right: 15px; }

.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
 
h4.panel-title {	margin: 0; }

/*
 * Fix anchors
 */
.anchor {
	top: -70px;
}



