/*
 * Pre-content
 */

.home-pre-content {
	background: url('../img/powapos-overview.jpg');
	background-position: center center;
	background-size: cover;
	height: 450px;
}

.home-pre-content h1 {
	padding-top: 175px;
	margin-bottom: 10px;
	font-size: 45px;
	font-family: 'din-bold';
	color: #fff;
	line-height: 1;
	text-shadow: 2px 2px 2px rgba(0,0,0,.6);
}
		
.home-pre-content h1 small {
	color: #fff;
}

.template-home .main>.container {
	padding-top: 0px;
	width: 100%;
}