/*********************
VENDOR PREFIX
*********************/
@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
// Usage
// p {
//   @include prefix(hyphens, auto)
// }

/*********************
MEIDA QUERIES
*********************/

$iphone: 320px;
$iphonew: 480px;
$tablet: 768px;
$desktop: 992px;
$wide: 1200px;

@mixin at-least($width) {
	@media all and (min-width: $width) {
    	@content;
	}
}

@mixin at-most($width) {
	@media all and (max-width: $width) {
    	@content;
	}
}

@mixin between($min-width, $max-width) {
  	@media all and (min-width: $min-width) and (max-width: $max-width - 1) {
    	@content;
	}
}
