/*
 * Button
 */
.btn, input[type="submit"] {
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
	border: 7px solid $blue;
	line-height: 1.5;
	padding: 5px 10px;
	background: $blue;
	@include prefix(border-radius, 0px);
	@include prefix(transition, all .2s linear);
	@include prefix(box-shadow, none);
	&:hover {
		background: transparent;
		color: #fff;
		border-color: $blue;
	}
	i {
		margin-right: 10px;
	}
}
.btn-alt, input[type="submit"] {
	background: transparent;
	color: $blue;
	&:hover {
		background: $blue;
		color: #fff;
	}
}
.btn-dark, .btn-download.btn-primary {
	&:hover {
		color: #3d3d3d;
	}
}