.container-checklist {
	background: #fff;
}
.checklist {
	margin-top: 50px;
	.btn-download {
		float: right;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.checklist-name {
		color: #777;
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.checklist-description {
		margin-bottom: 20px;
	}
	.checklist-item {
		display: inline-block;
		width: 100%;
	}
	.state-icon {
		float: left;
		margin-right: 20px;
		margin-top: 5px;
	}
	.checklist-item-name {
		font-weight: bold;
	}
	.checklist-item-description {
	
	}
}