.demoapps-table {
	.demoapp {
		clear:both;
		display: inline-block;
		border: 1px solid #f7f7f7;
		background: #fff;
		padding: 0px;
		margin-bottom: 20px;
		width: 100%;
	}
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		float: left;
	}
	.demoapp-header {
		clear: both;
		border-bottom: 1px solid #f7f7f7;
		display: inline-block;
		width: 100%;
		padding: 20px 60px 20px 40px;
		position: relative;
		background: #f7f7f7;
	}
	.btn-download {
		float: right;
		display: inline-block;
		margin: 0px 40px 20px;
	}
	.demoapp-description {
		padding: 20px 40px 10px;
	}
}

.demoapps {
	margin-top: 40px;
}