.accordion,
.accordion * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.accordion {
	overflow: hidden;
	// box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	// border-radius: 3px;
	margin: 40px 0;
}

.accordion-section {
	border: 1px solid #f0f0f0;
	background: #f7f7f7;
	@include prefix(border-radius, 10px);
	margin-bottom: 10px;

	a:focus {
		text-decoration: none;
	}

	.accordion-section-title {
		width: 100%;
		padding: 15px;
		display: inline-block;
		background: #fff;
		transition: all linear 0.15s;
		font-size: 16px;
		@include prefix(border-radius, 10px);
	}

	.accordion-section-title.active,
	.accordion-section-title:hover {
		background: #f7f7f7;
		text-decoration: none;
	}

	.accordion-section:last-child {
		border-bottom: none;
	}

	.accordion-section-content {
		padding: 15px;
		background: #f7f7f7;
		display: none;
	}

}

.faq-category-name {
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.faq-search-container {
	margin: 20px 0px 0px;
	h2 {
		margin: 10px 0;
	}
	background: #f7f7f7;
	padding: 20px 40px 30px;
	input {
		height: 51px;
		width: 300px;
		max-width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.btn {
		margin-top: 0px;
	}
}