.guide {
	.guide-img {
		margin: 20px 20px;
		background: #fff;
		img {
			display: block;
			padding: 25px 15px;
			margin: 0 auto;
		}
		@include prefix(transition, all .2s linear);
		&:hover {
			@include prefix(box-shadow, 0 2px 6px rgba(0,0,0,.5));
		}
	}
	.guide-name {
		text-align: center;
		font-size: 23px;
		font-family: 'din-regular';
		color: #777;
	}
	.guide-img {
		img {
			max-height: 200px;
		}
	}
}
