/* 
 * Icons
 */

.content-icon {
	font-size: 16px;
	color: #838383;
	font-family: 'din-regular';
	
}
	
.content-icon h3 {
	font-size: 24px;
	color: #bbb;
}

.content-icon p {
	line-height: 1.8;
}
 
.icon-huge {
	font-size: 5.5em;
}

.icon-large {
	font-size: 4em;
}

.icon-medium {
	font-size: 2.5em;
}

.icon-red {
	color: #F59493;
}

.icon-red-shadow {
	text-shadow:	1px 1px 0px #D7816E, 
					2px 2px 0px #D7816E, 
					3px 3px 0px #D7816E, 
					4px 4px 0px #D7816E, 
					5px 5px 0px #D7816E, 
					6px 6px 0px #D7816E, 
					7px 7px 0px #D7816E, 
					8px 8px 0px #D7816E;
}

.icon-green {
	color: #7FCDC6;
}

.icon-green-shadow {
	text-shadow: 	1px 1px 0px #65A5A0, 
					2px 2px 0px #65A5A0, 
					3px 3px 0px #65A5A0, 
					4px 4px 0px #65A5A0, 
					5px 5px 0px #65A5A0, 
					6px 6px 0px #65A5A0, 
					7px 7px 0px #65A5A0, 
					8px 8px 0px #65A5A0;
}

.icon-blue {
	color: #5DB9E9;
}

.icon-blue-shadow {
	text-shadow: 	1px 1px 0px #6590C0, 
					2px 2px 0px #6590C0, 
					3px 3px 0px #6590C0, 
					4px 4px 0px #6590C0, 
					5px 5px 0px #6590C0, 
					6px 6px 0px #6590C0, 
					7px 7px 0px #6590C0, 
					8px 8px 0px #6590C0;
}

.icon-orange {
	color: #F6C165;
}

.icon-orange-shadow {
	text-shadow: 	1px 1px 0px #F47A3A, 
					2px 2px 0px #F47A3A, 
					3px 3px 0px #F47A3A, 
					4px 4px 0px #F47A3A, 
					5px 5px 0px #F47A3A, 
					6px 6px 0px #F47A3A, 
					7px 7px 0px #F47A3A, 
					8px 8px 0px #F47A3A;
}

.icon-purple {
	color: #DAC1DD;
}

.icon-purple-shadow {
	text-shadow: 	1px 1px 0px #B9A5BE, 
					2px 2px 0px #B9A5BE, 
					3px 3px 0px #B9A5BE, 
					4px 4px 0px #B9A5BE, 
					5px 5px 0px #B9A5BE, 
					6px 6px 0px #B9A5BE, 
					7px 7px 0px #B9A5BE, 
					8px 8px 0px #B9A5BE;
}

.icon-white {
	color: #FFF;
}

table.icon-table {
	margin-bottom: 10px;
}

table.icon-table tr td {
	vertical-align: top;
}

table.icon-table tr td:first-child {
	width: 32px;
}

table.icon-table tr td:last-child {
	padding-left: 3px;
	padding-top: 3px;
}

.platform-icon {
	float: right;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -16px;
	i {
		background: $blue;
		color: #fff;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		border-radius: 50%;
	}
}