.media-item {
	.media-item-img {
		margin: 20px 20px;
		background: #fff;
		img {
			display: block;
			padding: 25px 15px;
			margin: 0 auto;
		}
		@include prefix(transition, all .2s linear);
		&:hover {
			@include prefix(box-shadow, 0 2px 6px rgba(0,0,0,.5));
		}
	}
	.media-item-name {
		text-align: center;
		font-size: 23px;
		font-family: 'din-regular';
		color: #777;
	}
	.media-item {
		img {
			max-height: 200px;
		}
	}
}

.supported-tablet-img {
	margin-right: 20px;
	margin-bottom: 10px;
}