.sdks {
	margin-top: 40px;
}

.sdk-table {
	margin-top: 0px;
	.sdk {
		border: 1px solid #f7f7f7;
		background: #fff;
		padding: 0px;
		margin-bottom: 20px;
	}
	.sdk-header {
		clear: both;
		border-bottom: 1px solid #f7f7f7;
		display: inline-block;
		width: 100%;
		padding: 10px 60px 10px 40px;
		position: relative;
		background: #f7f7f7;
	}
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		float: left;
	}
	.sdk-description {
		padding: 20px 40px;
	}
}

.sort-box {
	background: #f7f7f7;
	padding: 35px 50px 45px;
	margin-bottom: 40px;
	.btn {
		margin-top: 40px;
	}
	select {
		background: #fff;
		padding: 10px 20px;
		width: 100%
	}
}

.sdk-downloads-table {
	clear: both;
	width: 100%;
	display: inline-block;

	.sdk-download {
		display: inline-block;
		background: #f7f7f7;
		margin-bottom: 20px;
		padding: 40px 40px;
		width: 100%;
		text-align: center;
	}
	h3 {
		margin: 20px 0;
	}
	.sdk-download-description {
		margin: 20px 0;
	}
	.btn-download {
		float: none;
		display: block;
		max-width: 140px;
		margin: 10px auto;
	}
}