/*
 * Din Pro
 */

@font-face {
    font-family: 'din-regular';
    src: url('../fonts/powa/din-regular.eot');
    src: url('../fonts/powa/din-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/powa/din-regular.otf') format('opentype'),url('../fonts/powa/din-regular.woff') format('woff'),url('../fonts/powa/din-regular.ttf') format('truetype'),url('../fonts/powa/din-regular.svg#DINRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'din-bold';
    src: url('../fonts/powa/din-bold.eot');
    src: url('../fonts/powa/din-bold.eot?#iefix') format('embedded-opentype'),url('../fonts/powa/din-bold.otf') format('opentype'),url('../fonts/powa/din-bold.woff') format('woff'),url('../fonts/powa/din-bold.svg#DINBold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cardo-regular';
    src: url('../fonts/powa/Cardo-Regular.ttf');
    src: url('../fonts/powa/Cardo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cardo-bold';
    src: url('../fonts/powa/Cardo-Bold.ttf');
    src: url('../fonts/powa/Cardo-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cardo-italic';
    src: url('/fonts/powa/Cardo-Italic.ttf');
    src: url('/fonts/powa/Cardo-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/*
 * Main style
 */
 
body {
	padding-top: 60px;
	background: #fff;
	color: #838383;
	font-family: 'din-regular';
	font-size: 16px;
	line-height: 1.8;
}

.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

a {
	@include prefix(transition, all .2s linear);
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100%;
}
@media screen and (max-width: 480px) {
    iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'din-bold';
}

.list-group {
	@include prefix(box-shadow, none);
}

/*
 * Main
 */

.main .container,
.main .container-fluid {
	padding-top: 4%;
	padding-bottom: 4%;
}

.main {
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		color: #bbb;
	}
	h2, .h2 {
		margin-bottom: 30px;
	}
}

.main section.gray {
	background: #eee;
}

.main h3, .main h4 {
	margin: 20px 0;
	font-family: 'din-bold';
}

.main h3 {
	font-size: 24px;
}

.main h4 {
	font-size: 18px;
}

.main .nav-pills {
	padding-bottom: 10px;
	margin-bottom: 25px;
}
	
/*
 * Rows
 */

.row.separated {
	border-bottom: 1px #d1d1d1 solid;
	padding: 25px 0;
}

.row.separated:first-child {
	padding-top: 0;
}

.row.separated:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.section-container {
	background-size:cover;
	background-position: center center;
	h1 {
		font-size: 45px;
		font-family: 'din-bold';
		color: #fff;
		line-height: 1;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	}
	small {
	    color: #fff;
	    font-family: 'din-regular';
	
	}
	#section-bg-img {
		display: none;
	}
}

	
/*
 * Code Mirror
 */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  border: 1px solid #ccc;
}