/*
 * Footer
 */

.footer {
	position: relative;
	background: #585858;
	border-top: 1px solid #d1d1d1;
	color: #a3a2a2;
	.container {
		padding-top: 0px;
	}
	.h4 {
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		border-bottom: 1px solid #fff;
		padding: 10px 0;
	}
	p, a {
		color: #a3a2a2;
		font-size: 14px;
	}
}

.footer .container {
	position: relative;
}

.footer img {		
	padding: 40px 0;
}

.footer .row .left-white {
	background: #fff;
	padding-left: 15px;
}

.footer .small-letter span,
.footer .small-letter a {
	color: #585858;
	padding: 2px;
	font-weight: 200;
	font-size: 11px;
}

@media (max-width: 768px){
	.footer .row .left-white {
		text-align: center;
	}
}
	
@media (min-width: 768px){

	.footer img {		
		padding: 40px 0;
	}

	.footer .container:before {
		position: absolute;
		width: 2000px;
		top: 0;
		right: 66.66666666666%;
		background: #fff;
		height: 223px;
		content: " ";
	}

	.footer {
		height: 223px;
		overflow: hidden;
	}

}

@media (min-width: 992px){
	
	.footer .container:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 33.3333333333%;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 111px 223px 0;
		border-color: transparent #585858 #fff transparent;
		margin-left: -111px;
	}
	
	.footer .container:before {
		margin-right: 111px;
	}

}

.help-info, .social-info {
	margin-top: 40px;
	ul {
		padding: 0px;
		list-style: none;
	}
}
.social-info {
	i {
		width: 18px;
		height: 18px;
		text-align: center;
		font-size: 12px;
		background: #fff;
		color: #585858;
		padding: 3px;
		margin-right: 9px;
		@include prefix(border-radius, 50%);
	}
}