/*
 * Navbar changes
 */
.navbar {
	font-size: 14px;
}

.navbar-inverse {
	background: #585858;
	border: none;
}

.navbar-brand {
	border-style: solid;
	border-width: 0 30px 60px 0;
	border-color: transparent transparent #181818 transparent;
	padding: 0;
	position: relative;
	width: 275px;
	padding-left: 30px;
}

.navbar-brand img {
	position: absolute;
	top: 8px;
}

.navbar-brand:before {
	position: absolute;
	height: 60px;
	top: 0;
	left: -2000px;
	width: 2000px;
	background: #181818;
	display: block;
	content: " ";
}

.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 19px;
	line-height: 1.5;
}

.navbar-inverse .navbar-nav {
	li {
		a {
			@include prefix(box-sizing, border-box);

			@include at-least($desktop) {
				max-height: 60px;
			}

		}

		&:hover a {
			border-bottom: 5px solid #d1d1d1;
		}

	}

	li.active {
		a {
			border-bottom: 5px solid #d1d1d1;
			background: transparent;
			@include prefix(box-shadow, none);

			&:hover {
				background: transparent;
			}

		}

	}

	.dropdown-menu {
		a {
			border-bottom: 0px !important;
		}

	}

}

.navbar-inverse .navbar-account {
	li {
		a {
		}
		&:hover a {
			border-bottom: 0px;
		}
	}
}

.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 0px;
}

/**
 * Hover drop-down menus
 */
.sidebar-nav {
	padding: 9px 0;
}

.dropdown-menu {
	@include prefix(border-radius, 0px);
}

.dropdown-menu .sub-menu {
	left: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
	visibility: visible;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

@media (max-width: 767px) {
	.dropdown:hover .dropdown-menu {
	    position: relative;
	    width: 100%;
	    margin: 0px 0px 30px;
	}
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
	margin-top: 0;
}

.navbar .sub-menu:before {
	border-bottom: 7px solid transparent;
	border-left: none;
	border-right: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 7px solid transparent;
	left: -7px;
	top: 10px;
}

.navbar .sub-menu:after {
	border-top: 6px solid transparent;
	border-left: none;
	border-right: 6px solid #fff;
	border-bottom: 6px solid transparent;
	left: 10px;
	top: 11px;
	left: -6px;
}

/*
 * Header style
 */
.main-header {
	background: $blue;
	padding: 4% 0;
	color: #fff;
}

.main-header h1 {
	font-size: 45px;
	font-family: 'din-bold';
	color: #fff;
	line-height: 1;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
	margin: 0;
}

.main-header h1 small {
	color: #fff;
	font-family: 'din-regular';
}

.main-header .breadcrumbs a {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	font-size: 25px;
}

.main-header .breadcrumbs a:hover {
	text-decoration: none;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}

/*
 * Custom Page Styles
 */

.main-header {
	background-position: center center;
	background-size: cover;
}

.page-home .main-header {
	background: url('../img/powapos-overview.jpg');
	background-position: center center;
	background-size: cover;
	height: 450px;
}

.page-home .main-header h1 {
	padding-top: 100px;
	margin-bottom: 10px;
	font-size: 45px;
	font-family: 'din-bold';
	color: #fff;
	line-height: 1;
	text-shadow: 2px 2px 2px rgba(0,0,0,.6);
}
		
.page-home .main-header h1 small {
	color: #fff;
}
.template-default.page-develop .main-header {
	background-image: url('../img/develop[1].jpg');
	padding: 9% 0;
}
.page-develop.page-powapin .main-header {
	background-image: url('../img/PowaPIN[1].jpg');
	padding: 9% 0;
}
.page-develop.page-t-series .main-header {
	background-image: url('../img/t-series[1].jpg');
	padding: 9% 0;
}
.page-market.template-market .main-header {
	background-image: url('../img/marketing-support[1].jpg');
	padding: 9% 0;
}
.page-market .main {
	background: #f9f9f9;
}
.page-market.page-collateral .main {
	background: #fff;
}
.page-engage.template-engage .main-header {
	background-image: url('../img/engage[1].jpg');
	padding: 9% 0;
}
.page-engage.page-partners .main-header {
	background-image: url('../img/header-partners.jpg');
	padding: 9% 0;
}
.page-support .main-header {
	background-image: url('../img/support[1].jpg');
	padding: 9% 0;
}
.page-guides-and-checklists .main {
	background: #f9f9f9;
}